body {
  margin: 10;
  padding:150;
  /* Ảnh nền của trang thứ 2 nếu bạn muốn thay đổi thì nó tại đây */
  background-image: url("../img/9SHW2XH3.jpg");
  background-size: 60%;
  background-repeat: repeat ;
  font-size: 14px;
  font-family: "sans-serif", "sans-serif", sans-serif;
  color: #660086;
  overflow: auto;
}

a {
  color: #00ff45;
  font-size: 14px;
  text-decoration: none;
}

#main {
  width: 50%;
}

#wrap {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 680px;
  margin-top: 10px;
}

#te6: 668 x
    body {
        /* Hoặc thay 'body' bằng class chứa ảnh của bạn */
        background-attachment: scroll !important;
        background-size: cover;
    }
}
